.custom-height {
    height: 100px; /* Set your desired height */
    object-fit: cover; /* Ensures the image covers the container */
}
.product_row{
    margin-left: 130px;
    margin-top: 20px;
    margin-right: 130px;
}
.product_h1{
    margin-left: 130px;
}
.pro-button{
    margin-right: 20px;
}
.pro_card img{
   width: 250px;
   margin-left: 4px;
   
}